.item-list {

  tr {
    padding: 0;
    border: 0;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */

    &.selected {
      background: rgba(0, 0, 0, 0.2);
    }

    &:hover {
      background: rgba(0, 0, 0, 0.4);
    }

    td.item-name {
      vertical-align: middle;
      padding: 0;
      cursor: pointer;

      span {
        line-height: 35px;
        float: left;
        color: black;
      }

      input {
        padding: 0;
      }

      svg {
        color: #FFFFFF;
        fill: #FFB300;
        width: 35px;
        height: 35px;
        float: left;
        margin: 0 10px;
      }
    }

    td.item-actions,
    td.item-actions-unavailable {
      vertical-align: middle;
      cursor: pointer;
      padding: 4px;

      svg {
        width: 16px;
        height: 35px;
        float: left;
        margin: 0 8px;
      }
    }

    td.item-actions-unavailable svg {
      visibility: hidden;
    }

    td.folder-actions,
    td.folder-actions-unavailable {
      vertical-align: middle;
      cursor: pointer;
      padding: 4px;

      svg {
        width: 16px;
        height: 35px;
        float: left;
        margin: 0 8px;
      }
    }

    td.folder-actions-unavailable svg {
      visibility: hidden;
    }
  }
}

.notification {
  &.error {
    min-height: 30px;
    line-height: 30px;

    :before {
      padding: 0;
    }
  }
}

button.inline {
  width: 35px;
  padding: 10px 10px;
  border-radius: 0;
  border: none;
}

.cssLoader {
  border: 2px solid transparent; /* Light grey */
  border-top: 2px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#itemListContainer {
  position: relative;
  .cssLoader {
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    position: absolute;
  }
}

#itemListContainer.loading:after {
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

#itemList:after {
  border: 2px solid transparent; /* Light grey */
  border-top: 2px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 2s linear infinite;
}

.checkMark {
  display: inline-block;

  &:after {
    /*Add another block-level blank space*/
    content: '';
    display: block;

    /*Make it a small rectangle so the border will create an L-shape*/
    width: 6px;
    height: 12px;

    /*Add a white border on the bottom and left, creating that 'L' */
    border: solid #000;
    border-width: 0 2px 2px 0;

    /*Rotate the L 45 degrees to turn it into a checkmark*/
    transform: rotate(45deg);
  }
}